body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
	text-align: center;
}

button {
	background: #000;
	color: #3F3;
	font-size: 20px;
	padding: 10px;
	border: none;
	display: inline-block;
	cursor: pointer;
}

button:active {
	background: #333;
}

fieldset {
	border: 0;
	padding: 0;
	margin-bottom: 1em;
	text-align: center;
}

legend {
	font-size: 2em;
	border-bottom: 2px solid #333;
	display: block;
	width: 100%;
	margin: 0 0 0.25em 0;
}

fieldset#volume button {
	width: 50%;
}
fieldset#power button {
	width: 50%;
}
fieldset#source button {
	width: 33%;
}
fieldset#audio_mode button {
	width: 33%;
}
